body {
    background: #f5f5f5;
}

div#current_box {
    text-align: center;
    background-color:#fff; 
    width:100%;
    color:#3f8be6;
    padding-top: 1em;
    text-transform: uppercase;
    padding-bottom: 1em;
}

div#current_box h4 {
    font-weight: bold;
    
}

div#current_box a {
    font-weight: bold;
    text-decoration: none;
}

div#top-row {
    padding-top: 2em;
}

.bold-uppercase {
    text-transform: uppercase;
    font-weight: bold;
}

.inline {
    display:inline;
}

#connections {
    margin-bottom:0;
}

#timesince {
    font-size: .9em;
}

#temp1:before, #temp2:before, #temp2:before {
        display:inline-block;        
        content: "";
        width:11px;
        height:11px;
        background:#A600FF;    
        margin-right:5px;            
}

#temp2:before {
        background:#00EAC5;
}

table {
    width:100%;
    margin-top:10px;
}

table caption {
    font-size: 1.6em;
    font-weight: bold;
}
