{% extends "layout.html" %}
{% block body %}
    <script>
        var temp1 = {{ temp1_stream | safe }},
            temp2 = {{ temp2_stream | safe }},
            temp3 = {{ temp3_stream | safe }},
            temp4 = {{ temp4_stream | safe }},
            temp5 = {{ temp5_stream | safe }},
            temp6 = {{ temp6_stream | safe }},
            temp7 = {{ temp7_stream | safe }},
            temp8 = {{ temp8_stream | safe }},
            temp9 = {{ temp9_stream | safe }};
    </script>
    <div id="current_box">
                <a href="/"><h4>TI Innovation Lab CC3200 Monitor</h4></a>
        </div>
    <div class="container">
        
        <div class="row" id='top-row'>
                <div class="three columns">
                    <p class='bold-uppercase' id="connections">Latest Connections</p>
                    <p class="timesince" title="{{ time }}">{{ time }}</p>
                </div>
			<br><br>
            <table>
			<tr>
				<td><div class="three columns"><p id="temp1">Maddy: {{ temp1 }}</p></div></td>
				
                <td><div class="three columns"><p id="temp2">Ashley: {{ temp2 }}</p></div></td>
                <td><div class="three columns"><p id="temp3">Mailley: {{ temp3 }}</p></div></td>
        	</tr>
        	<tr>
                <td><div class="three columns"><p id="temp4">Kelly: {{ temp4 }}</p></div></td>
                <td><div class="three columns"><p id="temp5">Kentrie: {{ temp5 }}</p></div></td>
                <td><div class="three columns"><p id="temp6">Mary: {{ temp6 }}</p></div></td>
            </tr>
            <tr>
                <td><div class="three columns"><p id="temp7">Advika: {{ temp7 }}</p></div></td>
                <td><div class="three columns"><p id="temp8">Name8: {{ temp8 }}</p></div></td>
                <td><div class="three columns"><p id="temp9">Name9: {{ temp9 }}</p></div></td>
            </tr>
            </table>
        </div>

        <div class="row">
            <div class="four columns">
                <p class='bold-uppercase inline'>FROM </p><p class="inline"><span class='time'>{{ startdate }}</span></p><br>
                <p class='bold-uppercase inline'>UNTIL </p><p class="inline"><span class='time'>{{ enddate }}</span></p>
            </div>
            <div class="four columns u-pull-right">
                <form action="">
                    <input readonly type="text" id="dateselect" name="daterange" id="daterange" placeholder="Select Date Range">
                    <input type="button" id="daterangequery" class="button-primary" value="Update">
                </form>
            </div>
        </div>
        <div class="row">
                <canvas id="myChart"></canvas>
            
            
        </div>
    </div>

{% endblock %}                              

