<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pyfi</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='skeleton.css') }}" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='kalendae.css') }}" type="text/css" charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css" charset="utf-8">
  <script type="text/javascript" src="{{ url_for('static', filename='Chart.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='Chart.Scatter.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='kalendae.standalone.js') }}"  charset="utf-8"></script>

  
</head>

<body>
    {% block body %}{% endblock %}
</body>
<script type="text/javascript" src="{{ url_for('static', filename='javascript.js') }}"></script>
</html>